<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @event.date %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Lieu:</strong>
  <%= @event.place %>
</p>

<p>
  <strong>Prix:</strong>
  <%= @event.price %>
</p>

<p>
  <strong>Createur de l'évǹement:</strong>
  <%= User.find(@event.creator_id).email %>

</p>

